html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

:root {
  --title-color: #212121;
  --accent: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 0px;
  height: 0px;
  overflow: hidden;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding: 94px 94px;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
  padding: 15px 0px;
}
.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.studio {
  color: #000000;
}
.studio-footer {
  color: #ffffff;
}
.header .container {
  display: flex;
  background: #ffffff;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-list {
  display: flex;
  column-gap: 50px;
}

.header-navigation {
  margin-right: auto;
}
.header-list-contacts {
  display: flex;
  column-gap: 50px;
}
.header-contact {
  padding: 32px 0px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: block;
  padding: 32px 0px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  color: var(--accent);
}
.active-item {
  position: relative;
}
.active-item::after {
  content: "";
  display: block;
  width: 100%;
  background: var(--accent);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 32px 0px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent);
}
.header-contact:hover .nav-icon,
.header-contact:focus .nav-icon {
  fill: currentColor;
}
.nav-icon {
  fill: #757575;
  padding-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0px auto;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  font-weight: 900;
  width: 696px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.features {
  padding: 94px 0px;
}
.features-list {
  display: flex;
  column-gap: 30px;
}
.features-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.features-list-item {
  width: 270px;
}
.features-design-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.direction {
  padding-top: 0px;
}
.direction-pic {
  display: block;
  max-width: 100%;
  height: auto;
}
.direction-thumb {
  position: relative;
}
.direction-desc-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.direction-subtitle {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.direction-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.direction-list {
  display: flex;
  column-gap: 30px;
}
.team {
  background: #f5f4fa;
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.team-pic {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-list {
  display: flex;
  column-gap: 30px;
}
.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}
.team-desc {
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.soc-link-list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent);
}
.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: #ffffff;
}
.team-card {
  padding: 30px 0px;
}
.client {
  padding-left: 0px;
  padding-right: 0px;
}

.client-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.client-list {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent);
}
.client-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field {
  margin-bottom: 10px;
}
.modal-title {
  width: 448px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.input-title {
  display: block;
  width: 22px;
  height: 14px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline-color: var(--accent);
}
.modal-input:focus + .input-icon {
  fill: var(--accent);
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:focus {
  outline-color: var(--accent);
}

.icon-check {
  fill: #ffffff;
}
.input-field-terms {
  display: block;
  text-align: center;
}
.terms-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.terms-contract-link {
  color: var(--accent);
}
.terms-title span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 1.5px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition-property: border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .terms-title span {
  background-color: var(--accent);
  border: none;
}

.submit-btn {
  display: block;
  cursor: pointer;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: #188ce8;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-modal-btn:focus .icon-cross,
.close-modal-btn:hover .icon-cross {
  fill: var(--accent);
}
.icon-cross {
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  padding: 94px 0px;
}
.projects-btn-list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}
.projects-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  color: var(--title-color);
  background: #f5f4fa;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-btn:hover,
.projects-btn:focus {
  color: #ffffff;
  background: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-thumb {
  overflow: hidden;
  position: relative;
}
.project-thumb::before {
  content: "";
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover .project-thumb::before {
  transform: translateY(0);
}
.overflow {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover .overflow {
  transform: translateY(0);
}
.overflow-desc {
  font-size: 18px;
  width: 322px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.project-pic {
  display: block;
  max-width: 100%;
  height: auto;
}
.projects-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.projects-list-card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.projects-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.projects-desc {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  background: #2f303a;
  padding: 60px 0px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-container {
  margin-right: 70px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent);
}

.footer-soc {
  display: inline-block;
  margin-right: 93px;
}

.footer-soc-link-list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent);
}

.footer-address-list {
  margin-top: 20px;
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent);
}

.footer-title-soc {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.mailing-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.mailing-content {
  display: inline-block;
}
.mailing {
  display: flex;
}
.mailing-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px 16px;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-input:focus {
  outline-color: var(--accent);
}
.mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.buttom-wrap {
  position: relative;
}
.mailing-btn {
  display: block;
  cursor: pointer;
  padding-left: 28px;
  padding-right: 62px;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-btn:hover,
.mailing-btn:focus {
  background-color: #188ce8;
}
.mailing-send {
  position: absolute;
  fill: #ffffff;
  top: 13px;
  right: 28px;
}
